In [6]:
import pandas as pd
df = pd.read_csv('datasets/a10.csv', parse_dates=['date'], index_col='date')
# df.reset_index(inplace=True)
# print(df.head())
# df['year'] = [d.year for d in df['date']]
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [9]:
df = pd.read_csv('datasets/MarketArrivals.csv')
df = df[df.market=='MUMBAI']
df.head()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
6654,MUMBAI,January,2004,267100,719,971,849,MS,MUMBAI,January-2004
6655,MUMBAI,January,2005,275845,261,513,387,MS,MUMBAI,January-2005
6656,MUMBAI,January,2006,228000,315,488,402,MS,MUMBAI,January-2006
6657,MUMBAI,January,2007,205200,866,1136,997,MS,MUMBAI,January-2007
6658,MUMBAI,January,2008,267550,348,550,448,MS,MUMBAI,January-2008