In [11]:
import numpy as np
import pandas as pd
print('numpy  version:', np.__version__)
print('pandas version:', pd.__version__)

#rand int
#5 rows, 3 cols, each value is rand integer between [1, 10)
#np.random.randint(1, 10, (5, 3))

data = [[3, 5, 1],
       [9, 1, 7],
       [5, 3, 7],
       [6, 8, 6],
       [9, 4, 3]]
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])

print('#dataframe example\n')
print(df)

numpy  version: 1.18.1
pandas version: 1.0.3
#dataframe example

   col1  col2  col3
0     3     5     1
1     9     1     7
2     5     3     7
3     6     8     6
4     9     4     3

In [13]:
##dataframe

#Function application

def adder(dataframe_self, arg2):
    return dataframe_self + arg2

#pipe(): table wise function application
#        dataframe itself will be passed to function as first argument
print('\n#dataframe.pipe()\n')
print(df.pipe(adder, 2))

#apply(): row or column wise function application
#         takes an optional axis argument, default is 0, eg. column wise
print('\n#dataframe.apply(axis=0)\n')
print(df.apply(np.mean, axis=0))

#applaymap(): element wise function application
#             accept a fuction taking a single value and returning a single value
print('\n#dataframe.applymap()\n')
print(df.applymap(lambda x:x*100))

#dataframe.pipe()

   col1  col2  col3
0     5     7     3
1    11     3     9
2     7     5     9
3     8    10     8
4    11     6     5

#dataframe.apply(axis=0)

col1    6.4
col2    4.2
col3    4.8
dtype: float64

#dataframe.applymap()

   col1  col2  col3
0   300   500   100
1   900   100   700
2   500   300   700
3   600   800   600
4   900   400   300

In [23]:
#Sort
data = np.random.randint(1, 10, (10,2))
unsorted_df = pd.DataFrame(data
                           ,index=[1,4,6,2,3,5,9,8,0,7]
                           ,columns = ['col2','col1'])


#sort by row label, ascending order
unsorted_df.sort_index()

#sort by descending order
unsorted_df.sort_index(ascending=False)

#sort by column label, axis parameter default is 0
unsorted_df.sort_index(axis=1)

#sort by values

#parameter by take a single column name
unsorted_df.sort_values(by='col1')

#parameter by take a list of column names
unsorted_df.sort_values(by=['col1', 'col2'])

   col2  col1
9     4     1
4     4     3
0     6     3
7     1     5
5     2     5
2     4     5
6     8     5
1     3     7
3     3     7
8     4     9